<div class="p-4 bg-dark">
    <div class="container">
        <div class="d-flex flex-column">
            <a class="fw-bold h3 text-decoration-none" routerLink="/"><span class="text-info">Task</span><span class="text-danger">Manager</span></a>
            <a routerLink="/" class="d-block text-decoration-none fw-bold link-light link-opacity-75 link-opacity-50-hover" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
            <a routerLink="/add" class="d-block text-decoration-none fw-bold link-light link-opacity-75 link-opacity-50-hover" routerLinkActive="active">ADD TASK</a>
        </div>
    </div>
</div>
