<div class="p-4 bg-dark">
    <div class="container">
        <div>
            <span class="text-light fw-bold text-decoration-underline">LINKS</span>
            <a routerLink="/" class="d-block text-decoration-none fw-bold link-light link-opacity-75 link-opacity-50-hover" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
            <a routerLink="/add" class="d-block text-decoration-none fw-bold link-light link-opacity-75 link-opacity-50-hover" routerLinkActive="active">ADD TASK</a>
        </div>
    </div>
</div>
